$primary-color: #fff !default;
$accent-color: #e33 !default;

.App {
  text-align: center;
  background-color: #282c34;
}

@font-face {
  font-family: 'Dicier-Round-Light';
  src: local('Dicier-Round-Light'), url(../src/assets/fonts/Dicier-Round-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Dicier-Round-Dark';
  src: local('Dicier-Round-Dark'), url(../src/assets/fonts/Dicier-Round-Dark.otf) format('opentype');
}

.app-logo {
  height: 90vmin;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.outcome-svg {
  height: 10vmin;
  pointer-events: none;
  z-index: 2;
  color: white;
  padding: 0;
}

.outcome {
  margin-right: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin 3s linear;
    animation-iteration-count: 1;
    z-index: 99;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin-top: 15vh;
  z-index: 1;
  font-family: serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.info {
  background: unset;
  border: unset;
  color: $primary-color;
}

.square {
  background: unset;
  border: unset;
  float: left;
  font-family: Dicier-Round-Light;
  font-size: 5vmin; 
  height: 6vmin;
  margin: 1.5vmin;
  padding: 0;
  text-align: center;
  width: 6vmin;
  color: $primary-color;

  &-risk {
    @extend .square;
    font-family: Dicier-Round-Dark;

    &-selected {
      @extend .square-risk;
      color: $accent-color;
    }
  }

  &-selected {
    @extend .square;
    color: $accent-color;
  }
}

.crement {
  background: $primary-color;
  border: 1px solid #999;
  float: left;
  font-size: 5vmin;
  font-weight: bold;
  height: 6vmin;
  margin: 1.5vmin;
  padding: 0;
  text-align: center;
  width: 6vmin;
  border-radius: 50%
}

.button {
  padding: 1.5vmin 10vmin;
  margin: 1vmin .3vmin;
  color: #222;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}